NET "clk" LOC = R9;
NET "rst" LOC = F3 | IOSTANDARD = LVCMOS33 ;
NET "test_led" LOC = T10 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;

NET "asic_sck" LOC = C10;
NET "asic_cs" LOC = D11;
NET "asic_miso" LOC = C12;
NET "tx_sck" LOC = N2;
NET "tx_ce" LOC = P1;
NET "tx_csn" LOC = C13;
NET "tx_mosi" LOC = D13;
NET "tx_miso" LOC = T9;

NET "ftdi_data(0)" LOC = T4;
NET "ftdi_data(1)" LOC = R5;
NET "ftdi_data(2)" LOC = T5;
NET "ftdi_data(3)" LOC = T6;
NET "ftdi_data(4)" LOC = N7;
NET "ftdi_data(5)" LOC = P6;
NET "ftdi_data(6)" LOC = P7;
NET "ftdi_data(7)" LOC = N8;

NET "rd" LOC = P8  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "wr" LOC = T8 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "txe" LOC = N9 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;
NET "rxf" LOC = P9 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 12;